<!DOCTYPE html>
<html lang="en">
<head>
  <title>$title</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }    
  </style>  
  <script type="text/javascript">
    function theFunction () {
    	var xhttp = new XMLHttpRequest();
    	xhttp.open("POST", "hotel?hotelId=" + $hotel_id, true);
    	xhttp.send();
        return true;
    }
</script>

</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="button navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/hotels">TravelHelper</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/hotels">Hotels</a></li>
        <li class="active"><a href="/myhotels">My Saved Hotels</a></li>
        <li><a href="/myreviews">My Reviews</a></li>
        <li><a href="/myexpedia">Expedia History</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="jumbotron">
  <div class="container-fluid text-center">
    <p><img src="https://exp.cdn-hotels.com/hotels/1000000/150000/140600/140596/140596_275_z.jpg" style="width:600px;height:374px;"></p>
	<p>Hotel Name :  $hotel_name</p>
	<p>Address : $hotel_street_address</p>
	<p>City : $hotel_city, $hotel_state</p>
	<p>Rating : $averageRating</p>
	<p><a href="$expedia" target="_blank" onclick="return theFunction();" >Visit Expedia page!</a></p>
	<form action="/reviews" method="get">
	<input type="hidden" name="hotelId" value="$hotel_id"/>
	<p><input class="btn btn-default" type="submit" value="Reviews" style="float:left;"></p>
	</form>	
	<form action="/touristattraction" method="get">
	<input type="hidden" name="hotelId" value="$hotel_id"/>
	<p><input class="btn btn-default" type="submit" value="Tourist Attraction" style="float:left; margin-left: 25px;"></p>
	</form>	
	<form action="/myhotels" method="post">
	<input type="hidden" name="hotelId" value="$hotel_id"/>
	<p> <input class="btn btn-default" type="submit" name="button" value="$value" style="float:left; margin-left: 25px;"> </p>
	</form> 
  </div>
</div><br>

</body>
</html>
